@import "tailwindcss";

@theme {
  /* colors pallet */
  --color-brand-primary: #1a1a1a;
  --color-brand-gold: #c5a059;
  --color-brand-navy: #2c3e50;
  --color-brand-neutral: #f9f9f9;

  /* Custom Fonts */
  --font-serif: "Noto Serif", serif;
  --font-sans: "Manrope", sans-serif;
}
